.prem, .deux, .trois {
    background-color: antiquewhite;
    border: solid green 2px;
    height: 100px;
}
.prem {
    height: 100px;
    padding: 20px;
    margin: 0px;
}
.deux {
    width: 50%;
    padding: 1.2em;
    margin: 20px 5px;
}
.trois {
    height: 200px;
    width: 200px;
    padding: -30px;
    margin: auto;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: blueviolet;
}